<!-- Header starts here -->
<header class="header-main clearfix">
  <div class="container">
    <div class="logo-sec">
	  <img src="/images/logo.png" alt="Codaemon Softwares Private Limited" title="Codaemon Softwares Private Limited" />
	</div>
	<nav class="navbar">
	  <ul class="nav">
        <li class="active">
		  {{#link-to "about"}}
			About Us
		  {{/link-to}}
		</li>
	    <li>
		  {{#link-to "faq"}}
			FAQ
		  {{/link-to}}
		</li>
        <li>
		  {{#link-to "contact"}}
			Contact Us
		  {{/link-to}}
		</li>
	  </ul>
	</nav>
  </div>
</header>
<!-- Header ends here -->

<!-- Banner section starts here -->
<div class="about-banner">
  <div class="container">
    <div class="about-cont-main">
      <div class="about-cont">
        <h1>Inspiring ideas.<br/>Flawless implementations.</h1>
        <h2>Take a tour.</h2>
      </div>
    </div>
  </div>
</div>
<!-- Banner section ends here -->

<!-- About section starts here -->
<div class="about-sec clearfix">
  <div class="container">
    <h1 class="clearfix">About Us<span></span></h1>
    <h2>We focus on delivering robust, high-performing and scalable IT services to multiple industries. Along with being pioneers in comprehensive 		e-commerce solutions, we specialize in website and mobile application development, data analytics, digital marketing etc. Driven by the love for innovation, our team employs its depth of knowledge and experience along with a thorough market know-how to deliver successful solutions. <br/>
    Our tailored solutions come with the right mix of innovation and technology - the best of both worlds to empower your business. Let’s get you started.</h2>
  </div>
</div>
<!-- About section ends here -->

<!-- Footer starts here -->
<footer class="footer-main clearfix">
  <div class="container">
    <div class="copyright">
      &copy; 2018 Codaemon Softwares PVT. LTD. All Rights Reserved. 
    </div>
    <div class="ftr-nav">
      {{#link-to "about"}}
		About Us
	  {{/link-to}}
	  {{#link-to "faq"}}
		FAQ
	  {{/link-to}}
      {{#link-to "contact"}}
		Contact Us
	  {{/link-to}}
    </div>
	<div class="clearfix"></div>
  </div>
</footer>
<!-- Footer ends here -->