<!-- Header starts here -->
<header class="header-main clearfix">
  <div class="container">
    <div class="logo-sec">
	  <img src="/images/logo.png" alt="Codaemon Softwares Private Limited" title="Codaemon Softwares Private Limited" />
	</div>
	<nav class="navbar">
	  <ul class="nav">
        <li>
		  {{#link-to "about"}}
			About Us
		  {{/link-to}}
		</li>
	    <li>
		  {{#link-to "faq"}}
			FAQ
		  {{/link-to}}
		</li>
        <li class="active">
		  {{#link-to "contact"}}
			Contact Us
		  {{/link-to}}
		</li>
	  </ul>
	</nav>
  </div>
</header>
<!-- Header ends here -->

<!-- Location section starts here -->
<div class="location-main clearfix">
  <div class="container">
    <h1>We are at<span></span></h1>
    <div class="location-cont-main clearfix">
      <div class="loc-table">
        <div class="location-cont">
          <img src="/images/address-icon.png" class="img-responsive"/>
          <h2>
            5305 VILLAGE CENTER DR # 389<br/>
            Columbia, MD 21044<br/>
            United States
          </h2>
        </div>
      </div>
      <div class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3091.034660030667!2d-76.87697518534274!3d39.21937853550682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7df75b44dfcf5%3A0xfe2d9debd9d0795a!2s5305+Village+Center+Dr+%23389%2C+Columbia%2C+MD+21044%2C+USA!5e0!3m2!1sen!2sin!4v1520337169796" height="280" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
      </div>
	  <div class="clearfix"></div>
    </div>
    <div class="location-cont-main clearfix">
      <div class="loc-table">
        <div class="location-cont">
          <img src="/images/address-icon.png" class="img-responsive"/>
          <h2>
              Office No : 425 Amanora Chambers, <br/>
              Amanora Park Town, Hadapsar, <br/>
              Pune-411028
          </h2>
        </div>
      </div>
      <div class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.2308047301635!2d73.9336593141263!3d18.51846932407348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4941314f9ed89ee0!2sCodaemon+Softwares!5e0!3m2!1sen!2sin!4v1520337809893" height="280" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
      </div>
	  <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Location section ends here -->

<!-- Footer starts here -->
<footer class="footer-main clearfix">
  <div class="container">
    <div class="copyright">
      &copy; 2018 Codaemon Softwares PVT. LTD. All Rights Reserved. 
    </div>
    <div class="ftr-nav">
      {{#link-to "about"}}
		About Us
	  {{/link-to}}
	  {{#link-to "faq"}}
		FAQ
	  {{/link-to}}
      {{#link-to "contact"}}
		Contact Us
	  {{/link-to}}
    </div>
	<div class="clearfix"></div>
  </div>
</footer>
<!-- Footer ends here -->